/* line 1, /Users/juliancadenas/app_academy/app_academy/job_search/d3_projects/Simpsons-Data-Analysis/SimpsonsDataAnalysis/app/assets/stylesheets/navigation.scss */
.character-nav {
  padding-top: 20px;
  width: 50vw;
  display: flex;
  height: 60px;
  margin: 0 auto;
  align-items: center;
}

/* line 10, /Users/juliancadenas/app_academy/app_academy/job_search/d3_projects/Simpsons-Data-Analysis/SimpsonsDataAnalysis/app/assets/stylesheets/navigation.scss */
.character-nav-list {
  display: flex;
  width: 45vw;
  overflow-x: scroll;
  border-left: 1px solid #d2d4d8;
  border-right: 1px solid #d2d4d8;
}

/* line 18, /Users/juliancadenas/app_academy/app_academy/job_search/d3_projects/Simpsons-Data-Analysis/SimpsonsDataAnalysis/app/assets/stylesheets/navigation.scss */
.character-nav-item {
  text-transform: capitalize;
  margin: 0 20px;
}

/* line 23, /Users/juliancadenas/app_academy/app_academy/job_search/d3_projects/Simpsons-Data-Analysis/SimpsonsDataAnalysis/app/assets/stylesheets/navigation.scss */
.fa-angle {
  color: grey;
  font-size: 20px;
  padding: 0px 10px;
}
