.content-container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  // justify-content: space-between;
}

.character-detail {
  position: relative;
  width: 350px;
  height: 600px;
  display: block;
}

.character-name-header-container {
  width: 300px;
}

.character-name-header {
  font-size: 45px;
  font-weight: 900;
  color: rgb(76, 105, 175);
  text-transform: uppercase;
}


.image-container {
  position: relative;
  width: 300px;
  height: 523px;
}

.image-container-overview {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.character-image {
  height: 523px;
}

.character-unknown {
  width: 500px;
  position: absolute;
  left: -120px;
  top: -20px;
}

.script-line-container {
  width: 300px;
  overflow: hidden;
  padding-bottom: 15px;
}

.script-line {
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  display: block;
  // margin-top: 5px;
}

.refresh-icon {
  width: 100%;
  height: 100%;
}

.refresh-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 50px;
}

.refresh-icon-container:hover {
  background-color: rgb(247, 247, 247);
}

.character-image-script-line {
  position: absolute;
  top: 30px;
  z-index: 2;
  color: rgb(151, 153, 154);
  font-style: italic;
  letter-spacing: 1px;
}

.character-image-script-line-overview {
  top: 30px;
  z-index: -2;
  color: rgb(151, 153, 154);
  font-style: italic;
  letter-spacing: 1px;
}

.simpsons-characters-img {
  position: absolute;
  width: 380px;
  left: -40px;
}
