.content-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.charts-container {
  width: 900px;
  height: calc(100vh - 10vh - 100px);
  overflow-y: scroll;
}

.character-image {
  height: 523.625px;
}

.character-unknown {
  height: 523.625px;
}
