body{
  font-family: 'Montserrat', sans-serif;
}
g {
  font-size: 10px;
  font-weight: thin;
  text-transform: capitalize;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d4d8;
}
.header-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simpsons-logo-container {
  height: 10vh;
  display: flex;
  align-items: center;
}

.simpsons-logo {
  height: 10vh;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact-item {
  display: flex;
  margin-right: 20px;
}

.header-header-text {
  position: relative;
}


.volume-control {
  padding: 2px;
  margin-left: 15px;
  width: 20px;
  cursor: pointer;
}

.volume-control:hover {
  background-color: rgb(247, 247, 247);
  border-radius: 50px;
}








// bottom of file
