.character-nav {
  // padding-top: 20px;
  width: 50vw;
  display: flex;
  height: 60px;
  margin: 0 auto;
  align-items: center;
}

.character-nav-container {
  padding-top: 5px;
  width: 50vw;
  height: 60px;
  margin: 0 auto;
  align-items: center;
}

.character-nav-header {
  text-transform: uppercase;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 900;
  color: rgb(246, 201, 69);
}

.character-nav-list {
  display: flex;
  align-items: center;
  width: 45vw;
  overflow-x: scroll;
  border-left: 1px solid #d2d4d8;
  border-right: 1px solid #d2d4d8;
}

.character-nav-item {
  text-transform: capitalize;
  text-align: center;
  margin: 0 20px;
}

.fa-angle {
  color: grey;
  font-size: 20px;
  padding: 0px 10px;
}

.character-nav-active {
  background: rgba(103, 150, 207, 0.73);
}
