.character-nav {
  width: 50vw;
  height: 60px;
  margin: 0 auto;
}

.character-nav-list {
  display: flex;
  width: 50vw;
  overflow-x: scroll;
}

.character-nav-item {
  margin-right: 20px;
  text-transform: capitalize;
}
